---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
		<img
		class="rounded-full w-36 h-36 mb-5"
		src="https://media.licdn.com/dms/image/v2/D4E35AQFSiO2bQdYQeA/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1724959908008?e=1725998400&v=beta&t=XD_lzDGvcOkqOpX29C0CtmA8cqvlYBR2Xid0MHPtVBg"
		alt="Alejandro photo"
	  />
      <h1 class="text-black text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Cesar Alejandro Solano Enciso
        <a href="https://www.linkedin.com/in/c%C3%A9sar-alejandro-solano-enciso-7912922b7/" target="_blank" rel="noopener" class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>

      <h2 class="text-xl opacity-80">
        Ingeniero de Sofware. Especalizado en el desarrollo Web.
      </h2>
 
      <ul></ul>
    </section>
  </main>
</Layout>
